<h1>Bosh Sahifa</h1>
<div class="ota">
    <h2>
        Muallif: <a href="https://www.instagram.com/adkhamjon7/?hl=hu">ADKHAMJON</a>
    </h2>
    <h2>
        Aloqa:  <span>+998 91 797 84 27</span>
    </h2>
    <h2>
        Portfolio: <a href="https://adkhamjonweb.github.io/">POKETO</a>
    </h2>
</div>